{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "endOfLine": "auto",
  "trailingComma": "none",
  "arrowParens": "always",
  "bracketSameLine": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react(.*)",
    "<THIRD_PARTY_MODULES>",
    "^@apis/(.*)$",
    "^@pages/(.*)$",
    "^@components/(.*)$",
    "^@hooks/(.*)$",
    "^@styles/(.*)$",
    "^@stores/(.*)$",
    "^@type/(.*)$",
    "^@constants/(.*)$",
    "^@utils/(.*)$",
    "^@assets/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
